{% extends "base.html" %}
{% import "building.html" as b %}
{% import "topbar.html" as topbar %}
{% import "pointsTooltip.html" as pointsTooltip %}
{% import "createTask.html" as taskModal %}
{% import "task.html" as t %}
{% block content %}
<div>
  {{topbar}}
  <div id="debugInfo" class="container position-absolute top-0 start-0">
    <p id="fpsDisplay"></p>
  </div>




  <div class="container-fluid text-center" id="TaskBox" data-bs-toggle="popover" data-bs-html="true"
    data-bs-trigger="manual" data-bs-placement="top" data-bs-content="{{pointsTooltip}}">
    <div class="row" style="height:10vh;"></div>
    <div class="row">
      <div class="col">
        <div class="border border-primary-subtle p-3 text-start mx-auto gamebox" style="width: 70%">
          <ul class="list-group d-flex flex-column gap-4" style="width:100%">
            <span id="tasks">
            </span>
            <li data-bs-toggle="modal" data-bs-target="#create-task-modal" class="list-group-item list-group-item-action py-3 lh-sm user-select-none text-center border-top"
              style="border-radius:0px">Create New</li>
          </ul>
        </div>
      </div>
      <div class="col align-items-center">
        <div class="row">
          <div class="p-3 text-start mx-auto gamebox" style="width: 75%">
            <h3><b>History Project</b></h3>
            <small class="fs-6">Next up: Finish Slides</small>
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped taskbar" style="width: 75%"></div>
            </div>
            <small>Awards: Placeholder text</small>
          </div>
        </div>
        <!-- We use this to make a gap between the elements -->
        <div class="row" style="height:15vh;"></div>
        <div class="row mx-auto" style="width: 50%;">
          <div class="p-3 text-center mx-auto gamebox" style="width: 75%">
            <h1 class="display-4 fs-1 fw-bold text-body-emphasis points" id="points" data-bs-toggle="popover"
              data-bs-html="true" data-bs-trigger="hover" data-bs-placement="top" data-bs-content="{{pointsTooltip}}">0
            </h1>
            <p id="pointsPerSecond"></p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="p-3 text-start mx-auto gamebox" style="width: 70%">
          <div class="list-group scrollarea mx-auto" style="width:100%;">
            <!-- Insert list elements here -->
            {% for building in buildings.values() %}
            {{ b.building(building.name, building.description, building.complexDescription) }}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{toast}}
  {{taskModal}}
</div>
<script type="module" src="{{ url_for('static', filename='scripts/gamelogic.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='scripts/tasks.js') }}"></script>
{% endblock %}
