{% extends "base.html" %} 
{% block content %} 
<div>
  <div class="container-md position-absolute top-50 start-50 translate-middle">
    <div class="p-3 text-start mx-auto gamebox" style="width: 30%">
      <div class="row text-center">
        <h1 class="mb-1 logintitle">Login</h1>
      </div>
      <div class="row" style="height:5vh;"></div>
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
          <form method="POST" class="text-center">
            {{ form.hidden_tag() }}
            <div class="form-floating mb-3 loginbox">
              {{ form.username }}
              <label for="username">Username</label>
              {% for error in form.username.errors %}
                <div class="text-danger mt-1">{{ error }}</div>
              {% endfor %}
            </div>
            <div class="form-floating mb-3 loginbox">
              {{ form.password }}
              <label for="username">Password</label>
              {% for error in form.password.errors %}
                <div class="text-danger mt-1">{{ error }}</div>
              {% endfor %}
            </div>
            <br>
            {{form.submit}}
          </form>
        </div>
      </div>
      <br>
      <br>
      <p class="primarytext text-center">New user click <a class="yellow" href={{url_for("register")}}>here</a> to register.</p>
    </div>
  </div>
</div>
{% endblock %} 
